<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>675709212976-bsjsb6v9f7lbhb82026q5o3kh9hl3ndq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675709212976-bsjsb6v9f7lbhb82026q5o3kh9hl3ndq</string>
	<key>API_KEY</key>
	<string>AIzaSyC9FKhTaVCfBjSqCrVKj7Q41gYfTZGSIAg</string>
	<key>GCM_SENDER_ID</key>
	<string>675709212976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.savo-app</string>
	<key>PROJECT_ID</key>
	<string>savo-59300</string>
	<key>STORAGE_BUCKET</key>
	<string>savo-59300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675709212976:ios:3abccc649d9c654d</string>
	<key>DATABASE_URL</key>
	<string>https://savo-59300.firebaseio.com</string>
</dict>
</plist>